{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x40000,
}, 
{
	name:	"BootEnv",
	offset:	0x40000,
	size:	0x40000,
},
{
	name:	"Config",
	offset:	0x80000,
	size:	0x80000,
}, 
{
	name:	"Factory",
	offset:	0x160000,
	size:	0x40000,
}, 
{
	name:	"Kernel",
	offset: 0x1A0000,
	size:	0x160000,
},
{
	name:	"RootFS",
	offset: 0x300000,
	size:	0x1EA0000,
},
{
	name:	"Storage",
	offset: 0x21A0000,
	size:	0x400000,
},
{
	name:	"RWFS",
	offset: 0x25A0000,
	size:	0x5A40000,
},
{
	name:	"Firmware_Stub",
	offset: 0x7FE0000,
	size:	0x2000000,
}